<h1><%= h1 %></h1>
<table>
    <thead>
        <tr>
            <th>cedula</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>usuario</th>
            <th>clave</th>
            <th>external_id</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td><%=hola.cedula%></td>
            <td><%=hola.nombres%></td>
            <td><%=hola.apellidos%></td>
            <td><%=hola.usuario%></td>
            <td><%=hola.clave%></td>
            <td><%=hola.external_id%></td>
        </tr>


    </tbody>

</table>
